.main{
  margin: 3px;
  padding: 20px;
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-decoration: none;
  align-items: start;
  position: relative;
  border-radius: 8px;
  background: #22242A;
  h2{
    color: #F2F2F2;
    font-size: 22px;
    font-weight: 500;
  }
  &__lorem{
    color: #818798;
  }
  &__description{
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 40px;
  }
  &__description-item{
  }
}
.main:hover{
  background: #393C46;
}
.main:hover::after{
  position: absolute;
  top: 45%;
  left: 90%;
  content: "";
  width: 24px;
  height: 24px;
  background: url("../../../public/images/spell/arrow-forward.svg")0/100% no-repeat;
}

@media (max-width: 768px) {
  .main{
    padding-top: 0;
    overflow-y: hidden;
    h2{
      margin-top: 15px;
      margin-bottom: 0;
    }
  }
}