.main-page {
  text-align: center;
  display: flex;
  background: #151619;
  height: 100%;
  color: rgba(255, 255, 255, 0.87);
  justify-content: space-between;
  &__lorem{
    color: #C5C7CE;
    font-size: 14px;
  }
  &__header{
    text-align: start;
  }
  &__list{
    padding: 40px 90px 40px 40px;
    flex: 80% 0 0;
  }
  &__filters{
    flex: 20% 0 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 40px;
    background: #22242A;
    padding: 40px 50px;
    h2{
      font-size: 24px;
      font-weight: 400;
      text-align: start;
    }
    &__item{
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 5px;
    }
    &__find{
      height: 46px;
      width: 300px;
      background: #393C46;
      border-radius: 4px;
      border: 0;
      color: #F2F2F2;
      font-size: 20px;
      &:focus{
        height: 40px;
        width: 292px;
        outline: none;
      }
    }
  }
}
.find{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 300px;
  background: linear-gradient(to bottom, #BC75FF, #798FFF);
  border-radius: 4px;
}