.main-page{
  .find{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 300px;
    background: linear-gradient(to bottom, #BC75FF, #798FFF);
    border-radius: 4px;
  }
  &__radio{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    justify-content: center;
  }
  &__lorem{
    color: #C5C7CE;
    font-size: 14px;
  }
  &__filters{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 40px;
    background: #22242A;
    padding: 40px 50px;
    height: 100%;
    width: 400px;
    h2{
      font-size: 24px;
      font-weight: 400;
      text-align: start;
    }
    &__item{
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 5px;
    }
    &__find{
      height: 46px;
      width: 300px;
      background: #393C46;
      border-radius: 4px;
      border: 0;
      color: #F2F2F2;
      font-size: 20px;
      &:focus{
        height: 40px;
        width: 292px;
        outline: none;
      }
    }
  }
}

.close-filters{
  display: flex;
  align-items: center;
  gap: 5px;
  &::before{
    content: '';
    width: 24px;
    height: 24px;
    background: url('../../../public/images/pagination/close-filters.svg') 0/100% no-repeat;
  }
}


@media (max-width: 768px) {
  .main-page{
    &__filters{
      position: absolute;
      left: -500px;
      transition: 1s;
      order: -1;
    }
    .show-filters{
      width: 100%;
      left: 0;
    }
  }
}
@media (max-width: 380px) {
  .main-page{
    .find{
      width: 250px;
    }
    .show-filters{
      padding: 20px;
    }
  }
}